.App {
  text-align: center;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: url(./components/images/Sunrise.jpg);
  min-height: 15vh;
  font-weight: bolder;
  font-size: 20px;
  color: black;
}

.App-link {
  color: #61dafb;
}

.Tetris {
  position: absolute;
}

.Profile {
  position: absolute;
}

.Games {
  position: absolute;
}

.About {
  position: absolute;
}

.Minesweeper {
  position: absolute;
}

.SnakeGame {
  position: absolute;
}

.TicTac {
  position: absolute;
}